- provide :title, "NDS Toolkit"

.hero-unit
  %h1 NDS Toolkit
  %p NDS Toolkit is a suite of tools for hacking Nintendo games.
  %p
    It is a fork of the original by Demonic722, made to be cross-platform
    and given a few personal touches.

.row-fluid
  .span6.well
    %h2 Button Activator Generator
    %p
      This tool automates the process of finding an activator for your codes.
      Simply give the tool your code, select the buttons that you wish to have
      activate it, and your final code will be given to you.
    %a.btn.btn-primary{href: "#"} Learn more &raquo;
  .span6.well
    %h2 Pointer Searcher
    %p
      Input two RAM dumps and this tool will search for pointers, and find the
      result with the smallest offset. Select a result to generate ARDS code
      for that result.
    %a.btn.btn-primary{href: "#"} Learn more &raquo;

.row-fluid
  .span6.well
    %h2 Code Porter
    %p
      This tool makes region ports with a specific offset a snap. Simply enter
      the code that you wish to port, select the offset that you wish to use,
      and your code will be ported.
    %a.btn.btn-primary{href: "#"} Learn more &raquo;
  .span6.well
    %h2 Code Beautifier
    %p
      This is a front-end to the built-in automatic code beautifier. If you
      have poorly formatted code that you wish to be arranged into two neat
      columns, use this tool.
    %a.btn.btn-primary{href: "#"} Learn more &raquo;

.row-fluid
  .span6.well
    %h2 Loop Code Generator
    %p
      This is part of the Code Compressor, a tool designed to loop ARDS codes,
      shortening them. The Loop Code Generator will start with a base code,
      increment the address of that code, and optionally loop the value of that
      code as it advances to the next address.
    %a.btn.btn-primary{href: "#"} Learn more &raquo;
  .span6.well
    %h2 Patch Code Builder
    %p
      This is the second part of the Code Compressor. It compresses code with
      addresses that continually increment by 4, but values that have no
      pattern to them.
    %a.btn.btn-primary{href: "#"} Learn more &raquo;

.row-fluid
  .span4
    %h2 Open Source
    %p
      Everything about the NDS Toolkit is completely open- its code is
      available to the public, and anybody can help with the project! Click
      below to see how you can contribute.
    %a.btn{href: "#"} Learn more &raquo;
  .span4
    %h2 Customizable
    %p
      The NDS Toolkit is made to be customizable. You can configure how it is
      built, so you don't have to have anything that isn't useful to you.
    %a.btn{href: "#"} Learn more &raquo;
  .span4
    %h2 Useable
    %p
      The NDS Toolkit is designed to be as intuitive and usable as possible-
      click below to check out some of the features designed to prevent user
      frustration.
    %a.btn{href: "#"} Learn more &raquo;
