- provide :title, "NDS Toolkit"

.hero-unit
  %h1 NDS Toolkit
  %p NDS Toolkit is a suite of tools for hacking Nintendo games.
  %p
    It is a fork of the original by Demonic722, made to be cross-platform
    and given a few personal touches.
