- provide :title, "Nutella"

.hero-unit
  %h1 Nutella
  %p Spread some Nutella on Ruby to sweeten up its functionality!
  %p
    Nutella is a collection of utilities and core extensions for Ruby. It is
    a constant work in progress, so get into it and if you have any ideas,
    feel free to chip in!
