<div class="footer container-fluid">
  <div class="row-fluid">
    <div class="span4 left">
      Source code available on
      <%= link_to "GitHub", "https://github.com/gbchaosmaster/gbchaosmaster" %>.
    </div>
    <div class="span4">Copyright ©2012 Vinny Diehl</div>
    <div class="span4 right">
      <%= link_to "Contact the Developer", contact_path %>
    </div>
  </div>
</div>
