@import "bootstrap";

$grayMediumLight: #EAEAEA;

/** Universal **/

body {
  // Make room for the nav bar:
  padding-top: 60px;
}

/** Bootstrap Tweaks **/

.hero-unit {
  padding: 25px 35px;

  h1 {
    margin-bottom: 20px;
  }
}

.sidebar-nav {
  padding: 9px 0;
}

/** Typography **/

h1 {
  font-size: 3em;
  line-height: 1;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/** Footer **/

.footer {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  font-size: 85%;

  a {
    color: $gray;

    &:hover {
      color: $grayDarker;
    }
  }

  text-align: center;
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
}

// Responsive must be imported at the bottom so that it can see the current
// CSS and override some elements when it kicks in.
@import "bootstrap-responsive";
