.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Applications
    = nav_link "NDS Toolkit", projects_nds_toolkit_path
    %li.nav-header Libraries
    = nav_link "Nutella", projects_nutella_path
