<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">Applications</li>
    <%= nav_link "NDS Toolkit", projects_ndstoolkit_path %>
    <li class="nav-header">Libraries</li>
    <%= nav_link "Nutella", projects_nutella_path %>
  </ul>
</div>
