<footer class="footer">
  <div class="left">
    Source code available on
    <%= link_to "GitHub", "https://github.com/gbchaosmaster/gbchaosmaster" %>.
  </div>
  Copyright ©2012 Vinny Diehl
  <div class="right">
    <%= link_to "Contact the Developer", contact_path %>
  </div>
</footer>
