<footer class="footer">
  <div class="left">
    Powered by <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %> 3.2.8
  </div>
  <div class="right">
    <%= link_to "Contact the Developer", contact_path %>
  </div>
</footer>
